NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://localhost:27017/verity

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=
JWT_REFRESH_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

OPENAI_API_KEY=
